body {
  display: grid;
  grid-template-columns: repeat (3, 100px);
  grid-template-rows: 2fr 1fr;
}

header {
background-color: antiquewhite;
text-align: center;
padding: 2em;
}

main {
  background-color: aquamarine;
  text-align: center;
  padding: 2em;
}

footer {
  background-color: blueviolet;
  text-align: center;
  padding: 2em;
}