
body {
  display: grid;
  grid-template-columns: repeat (12, 100px);
  grid-template-rows: 1fr 3fr 3fr 3fr 3fr 3fr;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  padding: 2em;
  background: #fff;
  display: flex;
}

.navbar {
  padding: 8px;
  flex-grow: 1;

}
.nav_list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 2em;
}

.nav_list a {
  color:#333333;
}

.nav_list a:hover,
.nav_list a:focus {
  background-color: #fbdabb;
}

.nav_list li:nth-of-type(1) {
  margin-left: auto;
}
.nav_list li:nth-of-type(6) {
  margin-left: auto;
}

.hero-grid {
  display: grid;
  gap: 3rem;
  row-gap: 5px;
  grid-auto-columns: 1fr;
  grid-template-areas: 
  'one'
  'two'
  'three'
  'four'
  'five'
  'six';
  padding-block: 5px;
  background: #495e57;
  }

.hero:nth-child(1) {
  grid-area: one;
  padding-left: 200px;
}
.hero:nth-child(2) {
  grid-area: two;
  margin: 0;
}
.hero:nth-child(3) {
  grid-area: three;
  
}
.hero:nth-child(4) {
  grid-area: four;
  margin-top: -50px;
}
.hero:nth-child(5) {
  grid-area: five;
  
}
.hero:nth-child(6) {
  grid-area: six;
  padding-right: 200px;
}
@media (min-width: 50em) {
  .hero-grid {
    grid-template-areas:
    'one two three six'
    'one four three six'
    'one five three six';
  }
}
.btn {
  border-radius: 15px;
  background-color: #f4ce14;
  font-size: large;
  font-weight: bold;
  border:#333333;
  padding: 10px 20px;
}
.pic {
  border-radius: 20px;
}










